/node_modules
/public/hot
/public/storage
/storage/*.key
/public/media/*
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.vscode
.package-lock.json
.yarn-integrity
.yarnrc
.yarnrc.yml
.yarnrc.yaml
.yarnrc.json
.yarnrc.toml
.yarnclean
